.list-group img {
    width: 32px;
    height: 32px;
    margin: 1px 10px;
}

#pi-favourite.userSection .container {
    max-width: none;
    width: auto;
}

.favourite-box {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.favourite-avatar {
    margin: 0 10px 20px 10px;
}

.favourite-text {
    margin: 0 5px;
}

.favourite-text h2 {
    margin: 0;
    padding: 30px 0;
}

.favourite-count {
    padding: 10px;
}

.page-header{
    padding-bottom: 5px
}

.favourites .well {
    background:transparent;
    border:none;
}

.favorite-nopadding {
    padding :0!important;
}

.favouritebar-btn {
    width:100%;
}

.favouritebar .btn-success {
    background-color: #EB4079;
    border-color: #EB4079;
}

.favouritebar .btn-success:hover,
.favouritebar .btn-success:focus,
.favouritebar .btn-success.focus,
.favouritebar .btn-success:active,
.favouritebar .btn-success.active {
    background-color: #EB4079;
    border-color: #EB4079;
}

.favouritebar .btn-primary {
    background-color: #EB4079;
    border-color: #EB4079;
    opacity: 0.6;
}

.favouritebar .btn-primary:hover,
.favouritebar .btn-primary:focus,
.favouritebar .btn-primary.focus,
.favouritebar .btn-primary:active,
.favouritebar .btn-primary.active {
    background-color: #EB4079;
    border-color: #EB4079;
    opacity: 0.6;
}

.favouritebar a {
    text-decoration: none; 
    color:#51514F; 
    cursor:pointer;
}
.itemUserActivityItem {
    margin-top:10px;
}
.favouritebar{
    margin-bottom:10px; 
    border:1px solid #b7b7b7;
}

.favouritebar .btn {
    width:100%
}

.favourite h5 {margin-top:0}
